# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual environment
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test & coverage
.coverage
htmlcov/
.cache/
.pytest_cache/

# Build & distribution
build/
dist/
*.spec

# Local config
settings/database_config.py
settings/credentials.json
settings/bot_config.py
garbage/
/garbage/tests/
garbage/TelegramMotivationDB.mwb.bak
garbage/TelegramMotivationDB.mwb
debug.txt
garbage/ngrok.exe
/credentials.json
.idea

# Environment variables
.env
.env.*
/motivationbotenvironment/
